<div id="footer" style="background-color: #010238; min-height: 90px; width: 100% !important; text-align: center; padding: 13px 0 0 8px;">
    <div style="display: inline-block;">
      <p class="bottom-quote" style="font-family: Arial;font-size: 16px; font-weight: bold; text-align: center; color:#ffffff;">
        Bienvenido.
      </p>
      <div style="margin: 10px 0 22px 0">
        <a
          style=" cursor: pointer; color: white; font-family: Arial; font-size: 10px; font-weight: normal;display: inline-block;"
          href=""
        >
          <div style=" word-wrap: break-word; ">Términos y condiciones</div>
        </a>
        <div style="display: inline-block; padding: 0 5px 0 0; margin: 0 0 0 5px;border-left: 1px solid white;">|</div>
        <a
          style="cursor: pointer; color: white; font-family: Arial; font-size: 10px; font-weight: normal; display: inline-block;"
          href=""
        >
          <div style=" word-wrap: break-word;">Aviso de privacidad</div>
        </a>
      </div>
      <div
        style="display: block; padding: 0 0 10px 0; text-align: center; color: #c2c2c2; font-family: Arial; font-size: 9px; font-weight: normal;"
      >
      Todos los Derechos Reservados
      </div>
    </div>
    <div class="ornament" style="float: right; margin: 0 5px 0 0">
      <img style="width: 85px;" src="{{ornament}}" alt="" />
    </div>
</div>