<div id="social-media" style="text-align: center ; background-color: #ffffff;; min-height: 100px; width: 100% !important;">
    <div class="share-experience" style="text-align: center; color: #4e4d4d; font-size: 13px; font-family: Arial;padding: 10px 0 17px 0;">
      Siguenos en redes sociales
    </div>
    <div style="margin: 0 10%;">
      <a style="display: inline-block; padding: 0 3%" href="https://www.facebook.com/">
        <img style="width: 35px; height: 35px;" src="{{fb}}" alt="fb" />
      </a>
      <a style="display: inline-block; padding: 0 3%" href="https://www.instagram.com/">
        <img style="width: 35px; height: 35px;" src="{{ig}}" alt="ig" />
      </a>
      <a style="display: inline-block; padding: 0 3%" href="https://twitter.com/">
        <img style="width: 35px; height: 35px;" src="{{tw}}" alt="twitter" />
      </a>
    </div>
</div>