<td><img src="{{header}}" width="100%" alt="header" style="display:block; outline:none" />

  <div style="background-color: white; margin: 0; overflow-x: hidden !important;">
    <div style="margin: 25px 5% 20px 5%; font-size: 14px; font-family: Arial; color: #4e4d4d;line-height: 1.43;">
      <p>
        token, <span style="font-weight: bold;">{{token}}
      </p> 
      <p>
        email, <span style="font-weight: bold;">{{email}}
      </p>
      </div>
      <div>
      </div>
    </div>
    <div style="background-color: white; margin: 0; max-width: 100% !important;overflow-x: hidden !important;">
    </div>
</td>
</div>